// COLORS
$color-primary: #dd2e1e;
$color-primary-light: #e4584b;
$color-primary-dark: #b12518;
$color-secondary: #46a741;
$color-secondary-light: #6bb967;
$color-secondary-dark: #388634;
$color-tertiary: #4b58e4;
$color-tertiary-light: #6f79e9;
$color-tertiary-dark: #3c46b6;
$color-gray-light-1: #f6f6f6;
$color-gray-light-2: #ededed;
$color-gray-dark: #555;
$color-gray-dark-2: #222;
$color-white: #fff;
$color-black: #000;

// FONTS
$font-size-default: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
