.feature-box {
  font-size: 1.4rem;
  text-align: center;
  padding: 2.4rem;
  border-radius: 0.5rem;
  background-color: rgba($color-white, 0.8);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  transition: all 0.2s;

  @include respond(tab-portrait) {
    padding: 2rem;
  }

  &:hover {
    transform: scale(1.04) translateY(-1.5rem);
  }

  &__icon {
    font-size: 5.2rem;
    font-weight: 700;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    );
    background-clip: text;
    color: transparent;

    @include respond(tab-portrait) {
      margin-bottom: -2rem;
    }
  }
}
