.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba($color-black, 0.85);

  @supports (-webkit-backdrop-filter: blur(6px)) or (backdrop-filter: blur(6px)) {
    background-color: rgba($color-black, 0.5);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
  }

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s;

  &__content {
    @include absoluteCenter;
    background-color: $color-gray-light-1;
    color: $color-gray-dark-2;
    width: 75%;
    border-radius: 0.5rem;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.6);
    z-index: 200;
    display: table;
    overflow: hidden;
    position: relative;
    transition: all 0.4s 0.1s;

    opacity: 0;
    transform: translate(-50%, -50%) scale(0.2); // apply translate again because the one comes with mixin become overridden
  }

  &__left {
    width: 35%;
    display: table-cell;
    vertical-align: middle;

    @include respond(tab-landscape) {
      padding-left: 4.8rem;
    }

    @include respond(phone) {
      width: 100%;
      height: 25rem;
      display: block;
      padding: 2.4rem 2.4rem 0 2.4rem;
    }
  }

  &__right {
    width: 65%;
    display: table-cell;
    vertical-align: middle;
    padding: 3.2rem 4.8rem;

    @include respond(phone) {
      width: 100%;
      display: block;
      padding: 2.4rem;
    }
  }

  &__img {
    display: block;
    width: 100%;

    @include respond(phone) {
      height: 100%;
      object-fit: cover;
      object-position: bottom;
    }
  }

  &__list {
    margin: 2.4rem 0 3.2rem 1.6rem;

    @include respond(phone) {
      margin: 1.6rem;
    }
  }

  &__item {
    font-size: $font-size-default;
    margin-bottom: 1.2rem;

    @include respond(phone) {
      margin-bottom: 0.8rem;
    }
  }

  &:target {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;

    .popup__content {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &__close {
    &:link,
    &:visited {
      display: inline-block;
      position: absolute;
      top: 2rem;
      right: 2rem;
      font-size: 2.4rem;
      color: $color-gray-dark;
      text-decoration: none;

      @include respond(phone) {
        top: 0rem;
        right: 0.5rem;
      }
    }

    &:hover,
    &:active {
      color: $color-primary;
    }
  }
}
